{
  "concepts": [
    {"name": "blue", "class": "AspectModifierType", "labels": ["color", "blue"]},
    {"name": "agent", "class": "SimpleObjectType", "modifierTypes": ["blue"]},
    {"name": "agent-self", "class": "SelfObject", "types": ["agent"], "attach": "self"},
    {"name": "agent-master", "class": "SimpleObject", "worldId": 3, "types": ["agent"]},
    {"name": "create-context", "class": "CreateContextActionType"},
    {"name": "create-context-inst", "class": "CreateContextAction", "type": "create-context", "performer": "agent-master", "contextId": 1},
    {"name": "context", "class": "ContextObjectType"},
    {"name": "context-inst", "class": "ContextObject", "creation": "create-context-inst", "type": "context"},
    {"name": "type", "class": "VirtualActionType"},
    {"name": "solution", "class": "VirtualSolutionRelationType"},
    {"name": "want", "class": "AuxiliaryRelationType", "lType": "agent", "negative": false, "type": "want"},
    {"name": "want-change", "class": "ActionStateChangeType", "target": "type"},
    {"name": "one", "class": "Number", "value": 1},
    {"name": "symbol-a", "class": "SymbolObjectType", "symbol": "A"},
    {"name": "symbol-a-inst-hypothetical", "class": "SimpleObject", "worldId": 1234, "types": ["symbol-a"], "ctx": "context-inst"},
    {"name": "type-a", "class": "VirtualActionType", "receiver": "symbol-a", "core": "type"},
    {"name": "type-a-inst-hypothetical", "class": "VirtualAction", "type": "type-a", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-a", "class": "AtomicActionType", "interfaceId": 10},
    {"name": "press-key-a-inst-hypothetical", "class": "AtomicAction", "type": "press-key-a", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-a", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-a-inst-hypothetical", "rTarget": "type-a-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-a", "class": "ActionStateChange", "type": "want-change", "target": "type-a-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-a", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-a-inst-hypothetical", "wantChange": "want-change-inst-a", "time": "now"},
    {"name": "symbol-b", "class": "SymbolObjectType", "symbol": "B"},
    {"name": "symbol-b-inst-hypothetical", "class": "SimpleObject", "worldId": 1235, "types": ["symbol-b"], "ctx": "context-inst"},
    {"name": "type-b", "class": "VirtualActionType", "receiver": "symbol-b", "core": "type"},
    {"name": "type-b-inst-hypothetical", "class": "VirtualAction", "type": "type-b", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-b", "class": "AtomicActionType", "interfaceId": 11},
    {"name": "press-key-b-inst-hypothetical", "class": "AtomicAction", "type": "press-key-b", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-b", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-b-inst-hypothetical", "rTarget": "type-b-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-b", "class": "ActionStateChange", "type": "want-change", "target": "type-b-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-b", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-b-inst-hypothetical", "wantChange": "want-change-inst-b", "time": "now"},
    {"name": "symbol-c", "class": "SymbolObjectType", "symbol": "C"},
    {"name": "symbol-c-inst-hypothetical", "class": "SimpleObject", "worldId": 1236, "types": ["symbol-c"], "ctx": "context-inst"},
    {"name": "type-c", "class": "VirtualActionType", "receiver": "symbol-c", "core": "type"},
    {"name": "type-c-inst-hypothetical", "class": "VirtualAction", "type": "type-c", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-c", "class": "AtomicActionType", "interfaceId": 12},
    {"name": "press-key-c-inst-hypothetical", "class": "AtomicAction", "type": "press-key-c", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-c", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-c-inst-hypothetical", "rTarget": "type-c-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-c", "class": "ActionStateChange", "type": "want-change", "target": "type-c-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-c", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-c-inst-hypothetical", "wantChange": "want-change-inst-c", "time": "now"},
    {"name": "symbol-d", "class": "SymbolObjectType", "symbol": "D"},
    {"name": "symbol-d-inst-hypothetical", "class": "SimpleObject", "worldId": 1237, "types": ["symbol-d"], "ctx": "context-inst"},
    {"name": "type-d", "class": "VirtualActionType", "receiver": "symbol-d", "core": "type"},
    {"name": "type-d-inst-hypothetical", "class": "VirtualAction", "type": "type-d", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-d", "class": "AtomicActionType", "interfaceId": 13},
    {"name": "press-key-d-inst-hypothetical", "class": "AtomicAction", "type": "press-key-d", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-d", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-d-inst-hypothetical", "rTarget": "type-d-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-d", "class": "ActionStateChange", "type": "want-change", "target": "type-d-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-d", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-d-inst-hypothetical", "wantChange": "want-change-inst-d", "time": "now"},
    {"name": "symbol-e", "class": "SymbolObjectType", "symbol": "E"},
    {"name": "symbol-e-inst-hypothetical", "class": "SimpleObject", "worldId": 1238, "types": ["symbol-e"], "ctx": "context-inst"},
    {"name": "type-e", "class": "VirtualActionType", "receiver": "symbol-e", "core": "type"},
    {"name": "type-e-inst-hypothetical", "class": "VirtualAction", "type": "type-e", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-e", "class": "AtomicActionType", "interfaceId": 14},
    {"name": "press-key-e-inst-hypothetical", "class": "AtomicAction", "type": "press-key-e", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-e", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-e-inst-hypothetical", "rTarget": "type-e-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-e", "class": "ActionStateChange", "type": "want-change", "target": "type-e-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-e", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-e-inst-hypothetical", "wantChange": "want-change-inst-e", "time": "now"},
    {"name": "symbol-f", "class": "SymbolObjectType", "symbol": "F"},
    {"name": "symbol-f-inst-hypothetical", "class": "SimpleObject", "worldId": 1239, "types": ["symbol-f"], "ctx": "context-inst"},
    {"name": "type-f", "class": "VirtualActionType", "receiver": "symbol-f", "core": "type"},
    {"name": "type-f-inst-hypothetical", "class": "VirtualAction", "type": "type-f", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-f", "class": "AtomicActionType", "interfaceId": 15},
    {"name": "press-key-f-inst-hypothetical", "class": "AtomicAction", "type": "press-key-f", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-f", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-f-inst-hypothetical", "rTarget": "type-f-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-f", "class": "ActionStateChange", "type": "want-change", "target": "type-f-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-f", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-f-inst-hypothetical", "wantChange": "want-change-inst-f", "time": "now"},
    {"name": "symbol-g", "class": "SymbolObjectType", "symbol": "G"},
    {"name": "symbol-g-inst-hypothetical", "class": "SimpleObject", "worldId": 1240, "types": ["symbol-g"], "ctx": "context-inst"},
    {"name": "type-g", "class": "VirtualActionType", "receiver": "symbol-g", "core": "type"},
    {"name": "type-g-inst-hypothetical", "class": "VirtualAction", "type": "type-g", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-g", "class": "AtomicActionType", "interfaceId": 16},
    {"name": "press-key-g-inst-hypothetical", "class": "AtomicAction", "type": "press-key-g", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-g", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-g-inst-hypothetical", "rTarget": "type-g-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-g", "class": "ActionStateChange", "type": "want-change", "target": "type-g-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-g", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-g-inst-hypothetical", "wantChange": "want-change-inst-g", "time": "now"},
    {"name": "symbol-h", "class": "SymbolObjectType", "symbol": "H"},
    {"name": "symbol-h-inst-hypothetical", "class": "SimpleObject", "worldId": 1241, "types": ["symbol-h"], "ctx": "context-inst"},
    {"name": "type-h", "class": "VirtualActionType", "receiver": "symbol-h", "core": "type"},
    {"name": "type-h-inst-hypothetical", "class": "VirtualAction", "type": "type-h", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-h", "class": "AtomicActionType", "interfaceId": 17},
    {"name": "press-key-h-inst-hypothetical", "class": "AtomicAction", "type": "press-key-h", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-h", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-h-inst-hypothetical", "rTarget": "type-h-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-h", "class": "ActionStateChange", "type": "want-change", "target": "type-h-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-h", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-h-inst-hypothetical", "wantChange": "want-change-inst-h", "time": "now"},
    {"name": "symbol-i", "class": "SymbolObjectType", "symbol": "I"},
    {"name": "symbol-i-inst-hypothetical", "class": "SimpleObject", "worldId": 1242, "types": ["symbol-i"], "ctx": "context-inst"},
    {"name": "type-i", "class": "VirtualActionType", "receiver": "symbol-i", "core": "type"},
    {"name": "type-i-inst-hypothetical", "class": "VirtualAction", "type": "type-i", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-i", "class": "AtomicActionType", "interfaceId": 18},
    {"name": "press-key-i-inst-hypothetical", "class": "AtomicAction", "type": "press-key-i", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-i", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-i-inst-hypothetical", "rTarget": "type-i-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-i", "class": "ActionStateChange", "type": "want-change", "target": "type-i-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-i", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-i-inst-hypothetical", "wantChange": "want-change-inst-i", "time": "now"},
    {"name": "symbol-j", "class": "SymbolObjectType", "symbol": "J"},
    {"name": "symbol-j-inst-hypothetical", "class": "SimpleObject", "worldId": 1243, "types": ["symbol-j"], "ctx": "context-inst"},
    {"name": "type-j", "class": "VirtualActionType", "receiver": "symbol-j", "core": "type"},
    {"name": "type-j-inst-hypothetical", "class": "VirtualAction", "type": "type-j", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-j", "class": "AtomicActionType", "interfaceId": 19},
    {"name": "press-key-j-inst-hypothetical", "class": "AtomicAction", "type": "press-key-j", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-j", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-j-inst-hypothetical", "rTarget": "type-j-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-j", "class": "ActionStateChange", "type": "want-change", "target": "type-j-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-j", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-j-inst-hypothetical", "wantChange": "want-change-inst-j", "time": "now"},
    {"name": "symbol-k", "class": "SymbolObjectType", "symbol": "K"},
    {"name": "symbol-k-inst-hypothetical", "class": "SimpleObject", "worldId": 1244, "types": ["symbol-k"], "ctx": "context-inst"},
    {"name": "type-k", "class": "VirtualActionType", "receiver": "symbol-k", "core": "type"},
    {"name": "type-k-inst-hypothetical", "class": "VirtualAction", "type": "type-k", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-k", "class": "AtomicActionType", "interfaceId": 20},
    {"name": "press-key-k-inst-hypothetical", "class": "AtomicAction", "type": "press-key-k", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-k", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-k-inst-hypothetical", "rTarget": "type-k-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-k", "class": "ActionStateChange", "type": "want-change", "target": "type-k-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-k", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-k-inst-hypothetical", "wantChange": "want-change-inst-k", "time": "now"},
    {"name": "symbol-l", "class": "SymbolObjectType", "symbol": "L"},
    {"name": "symbol-l-inst-hypothetical", "class": "SimpleObject", "worldId": 1245, "types": ["symbol-l"], "ctx": "context-inst"},
    {"name": "type-l", "class": "VirtualActionType", "receiver": "symbol-l", "core": "type"},
    {"name": "type-l-inst-hypothetical", "class": "VirtualAction", "type": "type-l", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-l", "class": "AtomicActionType", "interfaceId": 21},
    {"name": "press-key-l-inst-hypothetical", "class": "AtomicAction", "type": "press-key-l", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-l", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-l-inst-hypothetical", "rTarget": "type-l-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-l", "class": "ActionStateChange", "type": "want-change", "target": "type-l-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-l", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-l-inst-hypothetical", "wantChange": "want-change-inst-l", "time": "now"},
    {"name": "symbol-m", "class": "SymbolObjectType", "symbol": "M"},
    {"name": "symbol-m-inst-hypothetical", "class": "SimpleObject", "worldId": 1246, "types": ["symbol-m"], "ctx": "context-inst"},
    {"name": "type-m", "class": "VirtualActionType", "receiver": "symbol-m", "core": "type"},
    {"name": "type-m-inst-hypothetical", "class": "VirtualAction", "type": "type-m", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-m", "class": "AtomicActionType", "interfaceId": 22},
    {"name": "press-key-m-inst-hypothetical", "class": "AtomicAction", "type": "press-key-m", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-m", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-m-inst-hypothetical", "rTarget": "type-m-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-m", "class": "ActionStateChange", "type": "want-change", "target": "type-m-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-m", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-m-inst-hypothetical", "wantChange": "want-change-inst-m", "time": "now"},
    {"name": "symbol-n", "class": "SymbolObjectType", "symbol": "N"},
    {"name": "symbol-n-inst-hypothetical", "class": "SimpleObject", "worldId": 1247, "types": ["symbol-n"], "ctx": "context-inst"},
    {"name": "type-n", "class": "VirtualActionType", "receiver": "symbol-n", "core": "type"},
    {"name": "type-n-inst-hypothetical", "class": "VirtualAction", "type": "type-n", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-n", "class": "AtomicActionType", "interfaceId": 23},
    {"name": "press-key-n-inst-hypothetical", "class": "AtomicAction", "type": "press-key-n", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-n", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-n-inst-hypothetical", "rTarget": "type-n-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-n", "class": "ActionStateChange", "type": "want-change", "target": "type-n-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-n", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-n-inst-hypothetical", "wantChange": "want-change-inst-n", "time": "now"},
    {"name": "symbol-o", "class": "SymbolObjectType", "symbol": "O"},
    {"name": "symbol-o-inst-hypothetical", "class": "SimpleObject", "worldId": 1248, "types": ["symbol-o"], "ctx": "context-inst"},
    {"name": "type-o", "class": "VirtualActionType", "receiver": "symbol-o", "core": "type"},
    {"name": "type-o-inst-hypothetical", "class": "VirtualAction", "type": "type-o", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-o", "class": "AtomicActionType", "interfaceId": 24},
    {"name": "press-key-o-inst-hypothetical", "class": "AtomicAction", "type": "press-key-o", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-o", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-o-inst-hypothetical", "rTarget": "type-o-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-o", "class": "ActionStateChange", "type": "want-change", "target": "type-o-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-o", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-o-inst-hypothetical", "wantChange": "want-change-inst-o", "time": "now"},
    {"name": "symbol-p", "class": "SymbolObjectType", "symbol": "P"},
    {"name": "symbol-p-inst-hypothetical", "class": "SimpleObject", "worldId": 1249, "types": ["symbol-p"], "ctx": "context-inst"},
    {"name": "type-p", "class": "VirtualActionType", "receiver": "symbol-p", "core": "type"},
    {"name": "type-p-inst-hypothetical", "class": "VirtualAction", "type": "type-p", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-p", "class": "AtomicActionType", "interfaceId": 25},
    {"name": "press-key-p-inst-hypothetical", "class": "AtomicAction", "type": "press-key-p", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-p", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-p-inst-hypothetical", "rTarget": "type-p-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-p", "class": "ActionStateChange", "type": "want-change", "target": "type-p-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-p", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-p-inst-hypothetical", "wantChange": "want-change-inst-p", "time": "now"},
    {"name": "symbol-q", "class": "SymbolObjectType", "symbol": "Q"},
    {"name": "symbol-q-inst-hypothetical", "class": "SimpleObject", "worldId": 1250, "types": ["symbol-q"], "ctx": "context-inst"},
    {"name": "type-q", "class": "VirtualActionType", "receiver": "symbol-q", "core": "type"},
    {"name": "type-q-inst-hypothetical", "class": "VirtualAction", "type": "type-q", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-q", "class": "AtomicActionType", "interfaceId": 26},
    {"name": "press-key-q-inst-hypothetical", "class": "AtomicAction", "type": "press-key-q", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-q", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-q-inst-hypothetical", "rTarget": "type-q-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-q", "class": "ActionStateChange", "type": "want-change", "target": "type-q-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-q", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-q-inst-hypothetical", "wantChange": "want-change-inst-q", "time": "now"},
    {"name": "symbol-r", "class": "SymbolObjectType", "symbol": "R"},
    {"name": "symbol-r-inst-hypothetical", "class": "SimpleObject", "worldId": 1251, "types": ["symbol-r"], "ctx": "context-inst"},
    {"name": "type-r", "class": "VirtualActionType", "receiver": "symbol-r", "core": "type"},
    {"name": "type-r-inst-hypothetical", "class": "VirtualAction", "type": "type-r", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-r", "class": "AtomicActionType", "interfaceId": 27},
    {"name": "press-key-r-inst-hypothetical", "class": "AtomicAction", "type": "press-key-r", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-r", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-r-inst-hypothetical", "rTarget": "type-r-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-r", "class": "ActionStateChange", "type": "want-change", "target": "type-r-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-r", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-r-inst-hypothetical", "wantChange": "want-change-inst-r", "time": "now"},
    {"name": "symbol-s", "class": "SymbolObjectType", "symbol": "S"},
    {"name": "symbol-s-inst-hypothetical", "class": "SimpleObject", "worldId": 1252, "types": ["symbol-s"], "ctx": "context-inst"},
    {"name": "type-s", "class": "VirtualActionType", "receiver": "symbol-s", "core": "type"},
    {"name": "type-s-inst-hypothetical", "class": "VirtualAction", "type": "type-s", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-s", "class": "AtomicActionType", "interfaceId": 28},
    {"name": "press-key-s-inst-hypothetical", "class": "AtomicAction", "type": "press-key-s", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-s", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-s-inst-hypothetical", "rTarget": "type-s-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-s", "class": "ActionStateChange", "type": "want-change", "target": "type-s-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-s", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-s-inst-hypothetical", "wantChange": "want-change-inst-s", "time": "now"},
    {"name": "symbol-t", "class": "SymbolObjectType", "symbol": "T"},
    {"name": "symbol-t-inst-hypothetical", "class": "SimpleObject", "worldId": 1253, "types": ["symbol-t"], "ctx": "context-inst"},
    {"name": "type-t", "class": "VirtualActionType", "receiver": "symbol-t", "core": "type"},
    {"name": "type-t-inst-hypothetical", "class": "VirtualAction", "type": "type-t", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-t", "class": "AtomicActionType", "interfaceId": 29},
    {"name": "press-key-t-inst-hypothetical", "class": "AtomicAction", "type": "press-key-t", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-t", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-t-inst-hypothetical", "rTarget": "type-t-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-t", "class": "ActionStateChange", "type": "want-change", "target": "type-t-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-t", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-t-inst-hypothetical", "wantChange": "want-change-inst-t", "time": "now"},
    {"name": "symbol-u", "class": "SymbolObjectType", "symbol": "U"},
    {"name": "symbol-u-inst-hypothetical", "class": "SimpleObject", "worldId": 1254, "types": ["symbol-u"], "ctx": "context-inst"},
    {"name": "type-u", "class": "VirtualActionType", "receiver": "symbol-u", "core": "type"},
    {"name": "type-u-inst-hypothetical", "class": "VirtualAction", "type": "type-u", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-u", "class": "AtomicActionType", "interfaceId": 30},
    {"name": "press-key-u-inst-hypothetical", "class": "AtomicAction", "type": "press-key-u", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-u", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-u-inst-hypothetical", "rTarget": "type-u-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-u", "class": "ActionStateChange", "type": "want-change", "target": "type-u-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-u", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-u-inst-hypothetical", "wantChange": "want-change-inst-u", "time": "now"},
    {"name": "symbol-v", "class": "SymbolObjectType", "symbol": "V"},
    {"name": "symbol-v-inst-hypothetical", "class": "SimpleObject", "worldId": 1255, "types": ["symbol-v"], "ctx": "context-inst"},
    {"name": "type-v", "class": "VirtualActionType", "receiver": "symbol-v", "core": "type"},
    {"name": "type-v-inst-hypothetical", "class": "VirtualAction", "type": "type-v", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-v", "class": "AtomicActionType", "interfaceId": 31},
    {"name": "press-key-v-inst-hypothetical", "class": "AtomicAction", "type": "press-key-v", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-v", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-v-inst-hypothetical", "rTarget": "type-v-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-v", "class": "ActionStateChange", "type": "want-change", "target": "type-v-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-v", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-v-inst-hypothetical", "wantChange": "want-change-inst-v", "time": "now"},
    {"name": "symbol-w", "class": "SymbolObjectType", "symbol": "W"},
    {"name": "symbol-w-inst-hypothetical", "class": "SimpleObject", "worldId": 1256, "types": ["symbol-w"], "ctx": "context-inst"},
    {"name": "type-w", "class": "VirtualActionType", "receiver": "symbol-w", "core": "type"},
    {"name": "type-w-inst-hypothetical", "class": "VirtualAction", "type": "type-w", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-w", "class": "AtomicActionType", "interfaceId": 32},
    {"name": "press-key-w-inst-hypothetical", "class": "AtomicAction", "type": "press-key-w", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-w", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-w-inst-hypothetical", "rTarget": "type-w-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-w", "class": "ActionStateChange", "type": "want-change", "target": "type-w-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-w", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-w-inst-hypothetical", "wantChange": "want-change-inst-w", "time": "now"},
    {"name": "symbol-x", "class": "SymbolObjectType", "symbol": "X"},
    {"name": "symbol-x-inst-hypothetical", "class": "SimpleObject", "worldId": 1257, "types": ["symbol-x"], "ctx": "context-inst"},
    {"name": "type-x", "class": "VirtualActionType", "receiver": "symbol-x", "core": "type"},
    {"name": "type-x-inst-hypothetical", "class": "VirtualAction", "type": "type-x", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-x", "class": "AtomicActionType", "interfaceId": 33},
    {"name": "press-key-x-inst-hypothetical", "class": "AtomicAction", "type": "press-key-x", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-x", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-x-inst-hypothetical", "rTarget": "type-x-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-x", "class": "ActionStateChange", "type": "want-change", "target": "type-x-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-x", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-x-inst-hypothetical", "wantChange": "want-change-inst-x", "time": "now"},
    {"name": "symbol-y", "class": "SymbolObjectType", "symbol": "Y"},
    {"name": "symbol-y-inst-hypothetical", "class": "SimpleObject", "worldId": 1258, "types": ["symbol-y"], "ctx": "context-inst"},
    {"name": "type-y", "class": "VirtualActionType", "receiver": "symbol-y", "core": "type"},
    {"name": "type-y-inst-hypothetical", "class": "VirtualAction", "type": "type-y", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-y", "class": "AtomicActionType", "interfaceId": 34},
    {"name": "press-key-y-inst-hypothetical", "class": "AtomicAction", "type": "press-key-y", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-y", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-y-inst-hypothetical", "rTarget": "type-y-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-y", "class": "ActionStateChange", "type": "want-change", "target": "type-y-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-y", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-y-inst-hypothetical", "wantChange": "want-change-inst-y", "time": "now"},
    {"name": "symbol-z", "class": "SymbolObjectType", "symbol": "Z"},
    {"name": "symbol-z-inst-hypothetical", "class": "SimpleObject", "worldId": 1259, "types": ["symbol-z"], "ctx": "context-inst"},
    {"name": "type-z", "class": "VirtualActionType", "receiver": "symbol-z", "core": "type"},
    {"name": "type-z-inst-hypothetical", "class": "VirtualAction", "type": "type-z", "performer": "agent-self", "ctx": "context-inst"},
    {"name": "press-key-z", "class": "AtomicActionType", "interfaceId": 35},
    {"name": "press-key-z-inst-hypothetical", "class": "AtomicAction", "type": "press-key-z", "ctx": "context-inst", "performer": "agent-self"},
    {"name": "solution-inst-z", "class": "VirtualSolutionRelation", "type": "solution", "lTarget": "press-key-z-inst-hypothetical", "rTarget": "type-z-inst-hypothetical", "ctx": "context-inst"},
    {"name": "want-change-inst-z", "class": "ActionStateChange", "type": "want-change", "target": "type-z-inst-hypothetical", "value": 10.0},
    {"name": "want-inst-z", "class": "AuxiliaryRelation", "type": "want", "lTarget": "agent-master", "rTarget": "type-z-inst-hypothetical", "wantChange": "want-change-inst-z", "time": "now"}
  ],
  "sentences": [
    {"body": "pressKeyA to type an A", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-a", "children": [{"word": "", "concept": "press-key-a-inst-hypothetical", "children": [{"word": "pressKeyA", "concept": "press-key-a", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-a-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-a", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "an", "concept": "one", "children": []}, {"word": "A", "concept": "symbol-a", "children": []}]}]}]}},
    {"body": "pressKeyB to type a B", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-b", "children": [{"word": "", "concept": "press-key-b-inst-hypothetical", "children": [{"word": "pressKeyB", "concept": "press-key-b", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-b-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-b", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "B", "concept": "symbol-b", "children": []}]}]}]}},
    {"body": "pressKeyC to type a C", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-c", "children": [{"word": "", "concept": "press-key-c-inst-hypothetical", "children": [{"word": "pressKeyC", "concept": "press-key-c", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-c-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-c", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "C", "concept": "symbol-c", "children": []}]}]}]}},
    {"body": "pressKeyD to type a D", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-d", "children": [{"word": "", "concept": "press-key-d-inst-hypothetical", "children": [{"word": "pressKeyD", "concept": "press-key-d", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-d-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-d", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "D", "concept": "symbol-d", "children": []}]}]}]}},
    {"body": "pressKeyE to type an E", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-e", "children": [{"word": "", "concept": "press-key-e-inst-hypothetical", "children": [{"word": "pressKeyE", "concept": "press-key-e", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-e-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-e", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "an", "concept": "one", "children": []}, {"word": "E", "concept": "symbol-e", "children": []}]}]}]}},
    {"body": "pressKeyF to type a F", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-f", "children": [{"word": "", "concept": "press-key-f-inst-hypothetical", "children": [{"word": "pressKeyF", "concept": "press-key-f", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-f-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-f", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "F", "concept": "symbol-f", "children": []}]}]}]}},
    {"body": "pressKeyG to type a G", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-g", "children": [{"word": "", "concept": "press-key-g-inst-hypothetical", "children": [{"word": "pressKeyG", "concept": "press-key-g", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-g-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-g", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "G", "concept": "symbol-g", "children": []}]}]}]}},
    {"body": "pressKeyH to type a H", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-h", "children": [{"word": "", "concept": "press-key-h-inst-hypothetical", "children": [{"word": "pressKeyH", "concept": "press-key-h", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-h-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-h", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "H", "concept": "symbol-h", "children": []}]}]}]}},
    {"body": "pressKeyI to type an I", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-i", "children": [{"word": "", "concept": "press-key-i-inst-hypothetical", "children": [{"word": "pressKeyI", "concept": "press-key-i", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-i-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-i", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "an", "concept": "one", "children": []}, {"word": "I", "concept": "symbol-i", "children": []}]}]}]}},
    {"body": "pressKeyJ to type a J", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-j", "children": [{"word": "", "concept": "press-key-j-inst-hypothetical", "children": [{"word": "pressKeyJ", "concept": "press-key-j", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-j-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-j", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "J", "concept": "symbol-j", "children": []}]}]}]}},
    {"body": "pressKeyK to type a K", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-k", "children": [{"word": "", "concept": "press-key-k-inst-hypothetical", "children": [{"word": "pressKeyK", "concept": "press-key-k", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-k-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-k", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "K", "concept": "symbol-k", "children": []}]}]}]}},
    {"body": "pressKeyL to type a L", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-l", "children": [{"word": "", "concept": "press-key-l-inst-hypothetical", "children": [{"word": "pressKeyL", "concept": "press-key-l", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-l-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-l", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "L", "concept": "symbol-l", "children": []}]}]}]}},
    {"body": "pressKeyM to type a M", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-m", "children": [{"word": "", "concept": "press-key-m-inst-hypothetical", "children": [{"word": "pressKeyM", "concept": "press-key-m", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-m-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-m", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "M", "concept": "symbol-m", "children": []}]}]}]}},
    {"body": "pressKeyN to type a N", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-n", "children": [{"word": "", "concept": "press-key-n-inst-hypothetical", "children": [{"word": "pressKeyN", "concept": "press-key-n", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-n-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-n", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "N", "concept": "symbol-n", "children": []}]}]}]}},
    {"body": "pressKeyO to type an O", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-o", "children": [{"word": "", "concept": "press-key-o-inst-hypothetical", "children": [{"word": "pressKeyO", "concept": "press-key-o", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-o-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-o", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "an", "concept": "one", "children": []}, {"word": "O", "concept": "symbol-o", "children": []}]}]}]}},
    {"body": "pressKeyP to type a P", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-p", "children": [{"word": "", "concept": "press-key-p-inst-hypothetical", "children": [{"word": "pressKeyP", "concept": "press-key-p", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-p-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-p", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "P", "concept": "symbol-p", "children": []}]}]}]}},
    {"body": "pressKeyQ to type a Q", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-q", "children": [{"word": "", "concept": "press-key-q-inst-hypothetical", "children": [{"word": "pressKeyQ", "concept": "press-key-q", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-q-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-q", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "Q", "concept": "symbol-q", "children": []}]}]}]}},
    {"body": "pressKeyR to type a R", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-r", "children": [{"word": "", "concept": "press-key-r-inst-hypothetical", "children": [{"word": "pressKeyR", "concept": "press-key-r", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-r-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-r", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "R", "concept": "symbol-r", "children": []}]}]}]}},
    {"body": "pressKeyS to type a S", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-s", "children": [{"word": "", "concept": "press-key-s-inst-hypothetical", "children": [{"word": "pressKeyS", "concept": "press-key-s", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-s-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-s", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "S", "concept": "symbol-s", "children": []}]}]}]}},
    {"body": "pressKeyT to type a T", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-t", "children": [{"word": "", "concept": "press-key-t-inst-hypothetical", "children": [{"word": "pressKeyT", "concept": "press-key-t", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-t-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-t", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "T", "concept": "symbol-t", "children": []}]}]}]}},
    {"body": "pressKeyU to type an U", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-u", "children": [{"word": "", "concept": "press-key-u-inst-hypothetical", "children": [{"word": "pressKeyU", "concept": "press-key-u", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-u-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-u", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "an", "concept": "one", "children": []}, {"word": "U", "concept": "symbol-u", "children": []}]}]}]}},
    {"body": "pressKeyV to type a V", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-v", "children": [{"word": "", "concept": "press-key-v-inst-hypothetical", "children": [{"word": "pressKeyV", "concept": "press-key-v", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-v-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-v", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "V", "concept": "symbol-v", "children": []}]}]}]}},
    {"body": "pressKeyW to type a W", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-w", "children": [{"word": "", "concept": "press-key-w-inst-hypothetical", "children": [{"word": "pressKeyW", "concept": "press-key-w", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-w-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-w", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "W", "concept": "symbol-w", "children": []}]}]}]}},
    {"body": "pressKeyX to type a X", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-x", "children": [{"word": "", "concept": "press-key-x-inst-hypothetical", "children": [{"word": "pressKeyX", "concept": "press-key-x", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-x-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-x", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "X", "concept": "symbol-x", "children": []}]}]}]}},
    {"body": "pressKeyY to type a Y", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-y", "children": [{"word": "", "concept": "press-key-y-inst-hypothetical", "children": [{"word": "pressKeyY", "concept": "press-key-y", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-y-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-y", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "Y", "concept": "symbol-y", "children": []}]}]}]}},
    {"body": "pressKeyZ to type a Z", "speaker": "agent-master", "listener": "agent-self", "root": {"word": "", "concept": "solution-inst-z", "children": [{"word": "", "concept": "press-key-z-inst-hypothetical", "children": [{"word": "pressKeyZ", "concept": "press-key-z", "children": []}]}, {"word": "to", "concept": "solution", "children": []}, {"word": "", "concept": "type-z-inst-hypothetical", "implicit": ["performer", "ctx"], "children": [{"word": "", "concept": "type-z", "children": [{"word": "type", "concept": "type", "children": []}, {"word": "a", "concept": "one", "children": []}, {"word": "Z", "concept": "symbol-z", "children": []}]}]}]}},
    {
      "body": "i want you to type an A",
      "speaker": "agent-master",
      "listener": "agent-self",
      "root": {
        "word": "",
        "concept": "want-inst-a",
        "implicit": ["wantChange", "time"],
        "children": [
          {
            "word": "i",
            "concept": "agent-master",
            "isPronoun": true,
            "children": []
          },
          {
            "word": "want",
            "concept": "want",
            "children": []
          },
          {
            "word": "",
            "concept": "type-a-inst-hypothetical",
            "implicit": ["performer", "ctx"],
            "children": [
              {
                "word": "you",
                "concept": "agent-self",
                "isPronoun": true,
                "children": []
              }, {
                "word": "to",
                "concept": "context-inst",
                "children": []
              }, {
                "word": "",
                "concept": "type-a",
                "children": [
                  {
                    "word": "type",
                    "concept": "type",
                    "children": []
                  },
                  {
                    "word": "an",
                    "concept": "one",
                    "children": []
                  },
                  {
                    "word": "A",
                    "concept": "symbol-a",
                    "children": []
                  }
                ]
              }
            ]
          }
        ]
      }
    }
  ]
}
